//- form fields to create new book or update a book
div.form-body
  p  
    label(for="title") Title: 
    input(type="text", name="title", id="title", value=book.title)
  p  
    label(for="author") Author: 
    input(type="text", name="author", id="author", value=book.author)
  p  
    label(for="genre") Genre: 
    input(type="text", name="genre", id="genre" value=book.genre)
  p  
    label(for="year") Year: 
    input(type="text", name="year", id="year", value=book.year)
  div.form-btns 
    input(type="submit", value=btnText) 
    a(class="button ", href="/books") Cancel 

    if book.title
    
      input(type="submit", value="Delete Book" class="button")