extends layout

block content
  
  div.header
    h1= title
    form(action="/books", method="get" id="searchForm")
      input(type="search", name="searchTerm", id="search", value=`${searchTerm || ""}`)
      input(type="submit", value="Search" class="button search")
    if message 
      p= message
  table 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year 
    tbody 
      each book in books 
        tr 
          td  
            a(href=`/books/${book.id}`) #{book.title} 
            td= book.author 
            td= book.genre 
            td= book.year

  div.footer
    p 
      if searchTerm
        a(href="/query", class="button") Create New Book
      else 
        a(href="books/new-book", class="button") Create New Book
    ul.pagination 
      each btn in btns 
        li
          if searchTerm
            a(class="button", href=`?searchTerm=${searchTerm}&bksToDisplay=${btn.bksToDisplay}&page=${btn.page}`)= btn.btnNr
          else
            a(class="button", href=`?bksToDisplay=${btn.bksToDisplay}&page=${btn.page}`)= btn.btnNr

  script(src="/javascripts/script.js")
          
    
  

    
    