extends layout

block content
  
  div.header
    h1= title
    input(type="search")

  table 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year 
    tbody 
      each book in books 
        tr 
          td  
            a(href=`/books/${book.id}`) #{book.title} 
          td= book.author 
          td= book.genre 
          td= book.year

  div.footer
    p 
      a(href="books/new-book", class="button") Create New Book
    ul.pagination 
      each btn in btns 
        li
          a(class="button", href=`?bksToDisplay=${btn.bksToDisplay}&page=${btn.page}`)= btn.btnNr

          
    script(src="/javascripts/script.js")
          
  

    
    