extends layout

block content
  h1= title
  //- Script für Pagination
  //- - const numBooks = Math.ceil(count / 5)
  script.
    function addPagination(word) {
      const numButtons = document.querySelectorAll("td")
      //- let btn = 1
      const btnDiv = document.querySelector("#something")
      const testTitel = document.createElement("h3")
      testTitel.innerHTML = word
      btnDiv.appendChild(testTitel)
    }
    //- addPagination("Hi")
  
  div(id="something")
  script.
    addPagination("Hi")
  //- ul
  //-   while btn < numButtons+1
  //-     li
  //-       input(type="button", value=`${btn++}`)
  p 
    a(href="books/new-book", class="button") Create New Book

  table 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year 
    tbody 
      each book in books 
        tr 
          td  
            a(href=`/books/${book.id}`) #{book.title} 
          td= book.author 
          td= book.genre 
          td= book.year